.contenthead {
	color: #9A9A9A;
	font-size: 24px;
margin: 10px 10px 10px 10px;
	text-align: center;
}

.contentarea {
	margin: 10px 10px 10px 10px;
	font-size: 13px;
}

.oneTitle {
	margin: 10px 10px 10px 10px;
	font-size: 16px;
	color: #a7a7a7;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.twoTitle {
	margin: 10px 10px 10px 10px;
	color: #A7A7A7;
	font-size: 13px;
	line-height: 26px;
	clear: both;
}

.mycontent {
	margin: 10px 10px 10px 10px;
	color: #a7a7a7;
	font-size: 12px;
	line-height: 26px;
	color: #a7a7a7;
}

.contentheaddate {
	margin: 10px 10px 10px 10px;
	color: #9A9A9A;
	font-size: 12px;
	text-align: center;
	color: #9A9A9A;
}
table
{
		margin: 10px 10px 10px 10px;
}
th,td {
	margin: 10px 10px 10px 10px;
	border: 1px solid #A7A7A7;
}
.noborder
{
	border :0px solid ;
}

.contenthead {font-size: 20px;}
.oneTitle{ color: #3d3d3d; font-size: 15px;}

.contentheaddate{ color: #5d5d5d;}
.twoTitle{ color: #5d5d5d;}

.mycontent{ color: #5d5d5d;}