<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
 <!-- 微信模板消息服务端 -->
 <dubbo:service interface="com.service.provider.TemplateMessage" ref="templateMessage" />
    <bean id="templateMessage" class="com.service.provider.impl.TemplateMessageImpl" />
</beans>