.r-top{width:300px;}
.r-top h2{font-size: 17px; letter-spacing: 1px;color: #5d5d5d;}
.r-top li{ height: auto; margin-top: 0;}
.r-top li a{width: 280px; height: 23px;font-size: 14px;padding:5px 0 0;display: inline;color: #5d5d5d; line-height: 23px;}
.last-li input{width:210px; margin-top: 10px;}
.btn-sear{margin-top: 10px;}
.hot h2{font-size: 17px;letter-spacing: 1px;color: #5d5d5d;}
.main-right{padding-top: 0;}
.main{margin:75px 0 0 0; }
.footer{margin-top: 110px;margin-bottom: -90px;}
/* .main-left{width: 90%;}
 */
 .article-h{ margin:0;}
.article-content p{font-size:14px;color: #5d5d5d;}
.article-h h2{font-size: 18px;color: #3d3d3d;}
.article-content h6{font-size: 15px;color: #3d3d3d;}
.hot li a{color: #5d5d5d;}
.link li a{color: #5d5d5d;}
.footer ul{height: auto;}
.content{ margin-top: 15px;}
.content a{ color: #2929D6;}
.content a:hover{color: #476dd8;}
.article-content a{ color: #2929D6;}
.article-content a:hover{color: #476dd8;}





